/*=============================================
=            Colors                           =
=============================================*/
$color-primary: #00b388;
$color-primary-lighter: #a5cfc9;
$color-primary-darker: #009571;

$color-black: rgb(0, 0, 0);
$color-grey: rgba(16, 24, 32, 0.72);

/*=====  End of Colors                 ======*/
