@import "var";
@import "mixins";
@import "font";
@import "link";

html {
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

main {
    margin-top: 66px;
    min-height: calc(100vh - calc(66px  + 53px));
}
